.contacts{
    height: 440px!important;
}
.container_reverse{
    background-color: white!important;
    color: #58576A!important;
    flex-direction: row-reverse!important;
}
.page_container_content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1100px;
    width: 100%;
}
.page_container_content_text{
    height: 275px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.align_items_center{
    align-items: center!important;
}
.height430px{
    height: 430px!important;
}
/* .page_container_content_text:nth-child(1){
    height: 275px;
}
.page_container_content_text:nth-child(2){
    height: 275px;
} */
.page_container_content_text p{
    max-width: 490px;
    width: 100%;
}
.white_text{
    color: white!important;
}
.page_container{
    max-width: 1420px;
    width: 100%;
    height: 615px;
    background-color: #858AD4;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content_page_div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-width: 1440px;
    width: 100%; */
    max-width: 1075px;
    width: 100%;


}
.content_page_div1 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 410px;
    padding-left: 17px;
}
.content_page_div1 p{
    height: 163px;
    width: 456px;
}

.content_page h2{
    font-family: 'Fira Sans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}
.content_page p{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}
.content_page a{
    text-decoration: none;
    height: 70px;
    max-width: 325px;
    width: 100%;

    background: #858AD4;
    border-radius: 25px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #F4FFFD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts h2 {
    font-family: 'Fira Sans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}
.contacts p {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}
