@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #1D1D1D;
    --color-gray: #707070;
    --color-purple: #858AD4;
    --color-shadow: rgba(29, 29, 29, 0.25)
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
}
.form_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    width: 1000px;
    background: var(--color-white);
    box-shadow: 0px 0px 10px var(--color-shadow);
    border-radius: 30px;
    overflow: hidden;
}
.form_content {
    width: 100%;
    padding: 60px 30px;
}
.input_wrapper {
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.form_bottom_text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-black);
}
.form_image {
    width: 100%;
    border-radius: 65px 0px 0px 179px;
    overflow: hidden;
}
.form_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.form h2 {
    font-size: 40px;
    margin-bottom: 40px;
}
.input_wrapper label {
    position: absolute;
    top: -7px;
    left: 20px;
    padding: 0 5px;
    color: var(--color-gray);
    font-size: 14px;
    font-weight: bold;
    background: var(--color-white);
}
.input_wrapper input {
    width: 100%;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    border: 1px solid var(--color-gray);
}
.form_button {
    margin-top: 60px;
    width: 100%;
    border: none;
    background: var(--color-purple);
    box-shadow: 0px 4px 4px var(--color-shadow);
    border-radius: 30px;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 5px;
    transition: all .3s;
    cursor: pointer;
}
.form_button:hover {
    background: var(--color-white);
    box-shadow: 0px 0px 4px var(--color-purple);
    color: var(--color-black);
}
