*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('/../fonts/FiraSans-Regular.ttf');
}
@font-face {
    font-family: 'Fira Sans-Bold';
    src: url('/../fonts/FiraSans-Bold.ttf');
}
