* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto.ttf');
}
.form{
    margin-top: 50px;

    display: flex;
    flex-direction: row;

    max-width: 1000px;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
}
.authorization_form{
    height: 100%;
}
.registration_form{
    height: 100%;
}
.registration_form.form input{
    height: 40px;
}
.form_content{
    width: 100%;
    padding-left: 30px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
.form_content b{
    padding-top: 17px;
    padding-bottom: 20px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #1D1D1D;
}
.form_image{
    background-image: url("form_image.png");
    background-size: cover;
    width: 100%;
    border-radius: 65px 0px 0px 179px;
    transform: scale(1.05);
}
.form h2{
    font-size: 40px;
}
.form ul{
    list-style: none;
}
.form li{
    list-style: none;
    display: grid;
    padding-top: 17px;
}
.form input{
    outline:none;
    max-width: 420px;
    width: 100%;
    height: 64px;
    border-radius: 30px;
    border: solid #707070 1px;

}
.form li label{
    font-size: 14px;
    font-weight: 700;
    color: #707070;
    align-self: start;
    position: relative;
    transform: translate(2.0rem,50%);
    width: max-content;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}
.form button{
    margin-top: 60px;

    max-width: 410px;
    height: 41px;
    width: 100%;

    border:none;
    background: #626DFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}