*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Roboto';
	max-width: 1140px;
	width: 100%;
	border: 5px solid #858AD4;
	border-radius: 25px;
}

.message-box-header {
	display: flex;
	align-items: center;
	min-height: 82px;
	height: 100%;
	width: 100%;
	padding-bottom: 6px;
	border: 5px solid #858AD4;
	background-color: #858AD4;	
	border-radius: 13px 13px 25px 25px;
	color: white;
}

.message-box-header img {
	border-radius: 25px;
}

.message-box-header p:first-child {
	font-size: 22px;
	font-weight: bold;
}

.message-box-header p:last-child {
	font-size: 16px;
}

.message-box-header-description {
	padding: 0px 10px;
}

.message-box-header-description p:first-child {
	margin-bottom: 10px;
}

.message-box-warning {
	padding: 10px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	font-size: 12px;
}

.message-box-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.messages {
	width: 100%;
	max-height: 700px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.messages::-webkit-scrollbar {
	scroll-margin: 10px;
  	width: 20px;
}

.messages::-webkit-scrollbar-track {
	padding: 5px;
	background-color: white;

}

.messages::-webkit-scrollbar-thumb {
	background-color: #858AD4;
	border: 7px solid white;
	border-radius: 15px;
}

.message {
	position: relative;
	padding: 25px;
	padding-bottom: 35px;
	max-width: 700px;
	width: auto;
	align-self: flex-start;
	margin-bottom: 40px;
	border-radius: 25px;
}

.message-content {
	font-size: 16px;
}

.message-time {
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	margin-right: 15px;
	margin-top: 10px;
	right: 0;
}

.message:last-child {
	margin-bottom: 0px;
}

.message.from-user {
	background-color: #858AD4;
	color: white;
	margin-left: auto;
}

.message.from-bot {
	background-color: white;
	border: 5px solid #858AD4;
	margin-right: auto;
}

.message.from-bot.bot-thinking {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
	padding-right: 35px;
	padding-left: 35px;
}

.dot-flashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: black;
	color: black;
	animation: dot-flashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}

.dot-flashing::before, .dot-flashing::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: black;
	color: black;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: black;
	color: black;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dot-flashing {
	0% {
		background-color: black;
	}

	50%, 100% {
		background-color: #ccc;
	}
}

.message-box-content form {
	border: 5px solid #858AD4;
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.message-box-content form input {
	height: 100%;
	outline: none;
	width: 100%;
	border: none;
	background-color: transparent;
	font-size: 20px;
	padding: 20px;
}

.message-box-content form button {
	border: none;
	height: 63px;
	background-color: #858AD4;
	border-radius: 17px;
	width: 80px;
	cursor: pointer;
}

.message-box-content form button svg {
	margin-left: 7px;
}

.xmas-magic-rightmost {
	position: fixed;
	bottom: 0;
	right: 0;
	transform: translate(200px, 100px);
	width: 400px;
}

.xmas-magic-leftmost {
	position: fixed;
	bottom: 0;
	left: 0;
	transform: translate(-200px, 100px);
	width: 400px;
}