*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {

}

/* Header -- begin */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: #858AD4;
	padding: 0px 48px;
	font-family: 'Roboto';
}

/* header logo */
.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo img {
	height: 45px;
	width: 45px;
}

.header-logo p {
	margin-left: 24px;
	font-weight: bold;
	color: white;
	font-size: 20px;
}

/* header auth */
.header-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.header-auth img {
	height: 32px;
	width: 32px;
}

.header-auth a {
	margin-right: 24px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

/* header nav */
.header-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px;
}

.header-nav svg path {
	stroke: #fff;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-left: 30px;
	font-weight: bold;
	padding-left: 22px;
	padding-right: 25px;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.nav-item:first-child {
	margin-left: 0px;
}

.nav-item a {
	margin-left: 10px;
}

.nav-item.active {
	background-color: white;
	border-radius: 25px;
	color: #858AD4;
}

.nav-item.active svg path {
	stroke: #858AD4;
}

#nav-item-exception1 svg path {
	fill: #fff;
}

#nav-item-exception2 svg path {
	fill: #fff;
}

#nav-item-exception1.active svg path {
	fill: #858AD4;
}

#nav-item-exception2.active svg path {
	fill: #858AD4;
}
/* Header -- end */